.icon{
    width:25px;
    height:25px;
    padding: 5px;
    background-color:#42507F;
    border-radius: 50%;
;
}
.iconNoneBackWhiteColor{
    width:25px;
    height:25px;
    padding: 3px;
    background-color:inherit;
    border-radius: 50%;
}
.iconWhiteBack{
    width:25px;
    height:25px;
    padding: 3px;
    background-color: white;
    border-radius: 50%;
}
.iconNoneBack{
    width:25px;
    height:25px;
    padding: 3px;
    background-color: inherit;
    border-radius: 50%;
}